[Unit]
Description=Installing Broadleaf Commerce

[Service]
User=devops
Type=simple
WorkingDirectory=/home/devops/DemoSite/site
ExecStart=mvn spring-boot:run
Restart=always

[Install]
WantedBy=multi-user.target